* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiIconButton-root{
  background-color: white;
}

.MuiIconButton-root:hover{
  background-color: white;
}

.container {
  background-color: rgba(0, 0, 0, .1);
  width: 70vw;
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20vw;
}

.galleryImage{
  position: absolute;
  object-fit: scale-down;
  padding-bottom: 12px;
  width: 40vw;
  height: calc(95vh - 100px - 120px);
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border: 1px solid #383838;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
