* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiIconButton-root{
  background-color: white;
}

.MuiIconButton-root:hover{
  background-color: white;
}